<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li id="toggle-sidebar" class="sidebar-main">
            <a href="dashboard">
                <img th:src="@{/images/logo-sidebar.png}" style="width:230px; height:50px;"/>
            </a>
        </li>
        <li class="sidebar-title"><span>Navigation</span></li>
        <li class="sidebar-list">
            <a href="/dashboard">Dashboard <span class="menu-icon fa fa-list"></span></a>
            <a href="/city">Cities <span class="menu-icon fa fa-list"></span></a>
            <a href="/country">Countries <span class="menu-icon fa fa-list"></span></a>
            <a href="/faculty">Faculties <span class="menu-icon fa fa-list"></span></a>
            <a href="/student">Students <span class="menu-icon fa fa-list"></span></a>
            <a href="/university">Universities <span class="menu-icon fa fa-list"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-12">
            <a href="https://paasword.eu" target="_blank">&copy; 2016 - xERP</a>
        </div>

    </div>
</div>
