<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard &mdash; xERP</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
        <link rel="stylesheet" th:href="@{/css/xerp.min.css}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />

    </head>
    <body>

        <div id="page-wrapper" class="active">

            <div th:replace="fragments/sidebar"></div>

            <div id="content-wrapper">
                <div class="page-content">

                    <div th:replace="fragments/header"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5><i class="fa fa-list"></i><span class="break"></span> Dashboard</h5>
                                </div>
                                <div class="panel-body" style="overflow: auto; height:500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->

        <script th:src="@{/js/jquery-2.1.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/moment.js}"></script>
        <script th:src="@{/js/xerp.min.js}"></script>
        <!-- xERP JS Util function -->
        <script th:src="@{/js/util.js}"></script>
        <script th:src="@{/js/dashboard.js}"></script>

    </body>
</html>